Youtube Channel Data Fetch Through Google Cloud API For Real Data

In [56]:
import numpy as np 
import pandas as pd
import matplotlib as plt
import seaborn as sns 
import isodate

In [57]:
pip install isodate

Requirement already satisfied: isodate in d:\python\venv\lib\site-packages (0.7.2)
Note: you may need to restart the kernel to use updated packages.

Use python Script for Fetching Raw Data Of youtube Channel by YouTube Data API v3

In [58]:
pip install google-api-python-client

Requirement already satisfied: google-api-python-client in d:\python\venv\lib\site-packages (2.178.0)
Requirement already satisfied: httplib2<1.0.0,>=0.19.0 in d:\python\venv\lib\site-packages (from google-api-python-client) (0.22.0)
Requirement already satisfied: google-auth!=2.24.0,!=2.25.0,<3.0.0,>=1.32.0 in d:\python\venv\lib\site-packages (from google-api-python-client) (2.40.3)
Requirement already satisfied: google-auth-httplib2<1.0.0,>=0.2.0 in d:\python\venv\lib\site-packages (from google-api-python-client) (0.2.0)
Requirement already satisfied: google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0,>=1.31.5 in d:\python\venv\lib\site-packages (from google-api-python-client) (2.25.1)
Requirement already satisfied: uritemplate<5,>=3.0.1 in d:\python\venv\lib\site-packages (from google-api-python-client) (4.2.0)
Requirement already satisfied: googleapis-common-protos<2.0.0,>=1.56.2 in d:\python\venv\lib\site-packages (from google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0,>=1.31.5->google-api-python-client) (1.70.0)
Requirement already satisfied: protobuf!=3.20.0,!=3.20.1,!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<7.0.0,>=3.19.5 in d:\python\venv\lib\site-packages (from google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0,>=1.31.5->google-api-python-client) (6.31.1)
Requirement already satisfied: proto-plus<2.0.0,>=1.22.3 in d:\python\venv\lib\site-packages (from google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0,>=1.31.5->google-api-python-client) (1.26.1)
Requirement already satisfied: requests<3.0.0,>=2.18.0 in d:\python\venv\lib\site-packages (from google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0,>=1.31.5->google-api-python-client) (2.32.3)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in d:\python\venv\lib\site-packages (from google-auth!=2.24.0,!=2.25.0,<3.0.0,>=1.32.0->google-api-python-client) (5.5.2)
Requirement already satisfied: pyasn1-modules>=0.2.1 in d:\python\venv\lib\site-packages (from google-auth!=2.24.0,!=2.25.0,<3.0.0,>=1.32.0->google-api-python-client) (0.4.2)
Requirement already satisfied: rsa<5,>=3.1.4 in d:\python\venv\lib\site-packages (from google-auth!=2.24.0,!=2.25.0,<3.0.0,>=1.32.0->google-api-python-client) (4.9.1)
Requirement already satisfied: pyparsing!=3.0.0,!=3.0.1,!=3.0.2,!=3.0.3,<4,>=2.4.2 in d:\python\venv\lib\site-packages (from httplib2<1.0.0,>=0.19.0->google-api-python-client) (3.2.1)
Requirement already satisfied: pyasn1<0.7.0,>=0.6.1 in d:\python\venv\lib\site-packages (from pyasn1-modules>=0.2.1->google-auth!=2.24.0,!=2.25.0,<3.0.0,>=1.32.0->google-api-python-client) (0.6.1)
Requirement already satisfied: charset-normalizer<4,>=2 in d:\python\venv\lib\site-packages (from requests<3.0.0,>=2.18.0->google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0,>=1.31.5->google-api-python-client) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in d:\python\venv\lib\site-packages (from requests<3.0.0,>=2.18.0->google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0,>=1.31.5->google-api-python-client) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in d:\python\venv\lib\site-packages (from requests<3.0.0,>=2.18.0->google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0,>=1.31.5->google-api-python-client) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in d:\python\venv\lib\site-packages (from requests<3.0.0,>=2.18.0->google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0,>=1.31.5->google-api-python-client) (2025.1.31)
Note: you may need to restart the kernel to use updated packages.

In [59]:
import pandas as pd
from googleapiclient.discovery import build

API_KEY = "AIzaSyBA8gnhKqlszwZYvvTVV8b0H4f05UqBEdA" 
CHANNEL_ID = "UCX6OQ3DkcsbYNE6H8uQQuVA"

youtube = build('youtube', 'v3', developerKey=API_KEY)


def fetch_channel_videos(channel_id):
    videos = []
    next_page_token = None

    while True:
        response = youtube.search().list(
            part="id,snippet",
            channelId=channel_id,
            maxResults=50,
            order="date",
            pageToken=next_page_token
        ).execute()

        for item in response['items']:
            if item['id']['kind'] == 'youtube#video':
                videos.append({
                    "Video_ID": item['id']['videoId'],
                    "Title": item['snippet']['title'],
                    "Published_At": item['snippet']['publishedAt']
                })

        next_page_token = response.get('nextPageToken')
        if not next_page_token:
            break

    return videos

def fetch_video_stats(video_ids):
    stats_list = []

    for i in range(0, len(video_ids), 50):
        response = youtube.videos().list(
            part="statistics,contentDetails",
            id=",".join(video_ids[i:i+50])
        ).execute()

        for video in response['items']:
            stats_list.append({
                "Video_ID": video['id'],
                "Views": int(video['statistics'].get('viewCount', 0)),
                "Likes": int(video['statistics'].get('likeCount', 0)),
                "Comments": int(video['statistics'].get('commentCount', 0)),
                "Duration": video['contentDetails']['duration']  # ISO 8601 format
            })

    return stats_list

videos = fetch_channel_videos(CHANNEL_ID)
video_ids = [v['Video_ID'] for v in videos]
stats = fetch_video_stats(video_ids)


df_videos = pd.DataFrame(videos)
df_stats = pd.DataFrame(stats)
dataset = pd.merge(df_videos, df_stats, on="Video_ID")

# Save to csv
dataset.to_csv("YouTube_Channel_Data.csv", index=False)
print("Dataset saved as YouTube_Channel_Data.csv")

Dataset saved as YouTube_Channel_Data.csv

Read Dataset

In [60]:
data=pd.read_csv("YouTube_Channel_Data.csv")

In [61]:
data.head()

,Video_ID,Title,Published_At,Views,Likes,Comments,Duration
0,qXW93Cois2s,Guess What Hit You,2025-08-05T16:00:01Z,39291570,799677,4191,PT32S
1,Z4hVGCWH1Kc,"2,000,000 People Get Clean Water For The First...",2025-08-01T16:00:01Z,52658668,2005558,37264,PT10M20S
2,V6In4tmd-w8,"$1 vs $25,000 VFX",2025-06-19T17:00:41Z,76154470,1987174,11416,PT23S
3,DZIASl9q90s,"Beat Neymar, Win $500,000",2025-05-24T16:00:01Z,151418699,3485863,81167,PT27M53S
4,N0pwLtonPdg,Slippery vs Sticky Stairs,2025-05-16T16:00:01Z,629281469,7142785,21250,PT36S

In [62]:
data.tail()

,Video_ID,Title,Published_At,Views,Likes,Comments,Duration
72,KzwTYZ2W3ZA,Microwaving A Microwave,2016-12-09T02:45:18Z,11786306,439290,41253,PT9M5S
73,t1BWMa8btIw,I Mailed Myself IN A BOX &amp; it REALLY WORKE...,2016-11-30T02:31:18Z,16489574,454964,15829,PT5M2S
74,4krBgDFycgY,7k SUBS! Smashing Ghost + AW! Plus Channel Talk!,2015-09-09T21:48:18Z,89892,3173,370,PT4M58S
75,ejlkNGm82w4,SAT And Some Random Stuff,2015-08-04T22:14:13Z,58849,1736,662,PT3M26S
76,__SaaKSW9iE,Cut Coms vs Uncut Coms,2015-05-09T06:53:13Z,58855,1533,313,PT2M39S

In [38]:
data.describe()

              Views         Likes       Comments
count  7.500000e+01  7.500000e+01      75.000000
mean   2.707965e+08  6.543267e+06   87392.733333
std    2.506388e+08  8.380627e+06   60360.738378
min    5.884900e+04  1.533000e+03     313.000000
25%    1.505603e+08  3.105192e+06   37692.000000
50%    2.275650e+08  4.355348e+06   83456.000000
75%    3.145167e+08  6.761676e+06  122807.500000
max    1.604788e+09  5.680522e+07  296233.000000

In [63]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77 entries, 0 to 76
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Video_ID      77 non-null     object
 1   Title         77 non-null     object
 2   Published_At  77 non-null     object
 3   Views         77 non-null     int64
 4   Likes         77 non-null     int64
 5   Comments      77 non-null     int64
 6   Duration      77 non-null     object
dtypes: int64(3), object(4)
memory usage: 4.3+ KB

Converted ISO 8601 TimeStamp into Date Format

In [64]:
data['Published_Date'] = pd.to_datetime(data['Published_At']).dt.date

In [65]:
data.head()

,Video_ID,Title,Published_At,Views,Likes,Comments,Duration,Published_Date
0,qXW93Cois2s,Guess What Hit You,2025-08-05T16:00:01Z,39291570,799677,4191,PT32S,2025-08-05
1,Z4hVGCWH1Kc,"2,000,000 People Get Clean Water For The First...",2025-08-01T16:00:01Z,52658668,2005558,37264,PT10M20S,2025-08-01
2,V6In4tmd-w8,"$1 vs $25,000 VFX",2025-06-19T17:00:41Z,76154470,1987174,11416,PT23S,2025-06-19
3,DZIASl9q90s,"Beat Neymar, Win $500,000",2025-05-24T16:00:01Z,151418699,3485863,81167,PT27M53S,2025-05-24
4,N0pwLtonPdg,Slippery vs Sticky Stairs,2025-05-16T16:00:01Z,629281469,7142785,21250,PT36S,2025-05-16

In [66]:
# Drop the Published_At Column Because we have converted it into Date format
data.drop(columns=['Published_At'],inplace=True)

In [67]:
data.head()

,Video_ID,Title,Views,Likes,Comments,Duration,Published_Date
0,qXW93Cois2s,Guess What Hit You,39291570,799677,4191,PT32S,2025-08-05
1,Z4hVGCWH1Kc,"2,000,000 People Get Clean Water For The First...",52658668,2005558,37264,PT10M20S,2025-08-01
2,V6In4tmd-w8,"$1 vs $25,000 VFX",76154470,1987174,11416,PT23S,2025-06-19
3,DZIASl9q90s,"Beat Neymar, Win $500,000",151418699,3485863,81167,PT27M53S,2025-05-24
4,N0pwLtonPdg,Slippery vs Sticky Stairs,629281469,7142785,21250,PT36S,2025-05-16

Now Convert Duration which in format of ISO 8601 Format

In [68]:
def duration_in_minutes(duration):
    td = isodate.parse_duration(duration)
    return td.total_seconds() / 60

data['Duration_In_Minutes'] = data['Duration'].apply(duration_in_minutes)

Drop Duration because it is converted From ISO Duration into Duration in minutes

In [69]:
data.drop(columns=['Duration'],inplace=True)

In [70]:
data.head()

,Video_ID,Title,Views,Likes,Comments,Published_Date,Duration_In_Minutes
0,qXW93Cois2s,Guess What Hit You,39291570,799677,4191,2025-08-05,0.533333
1,Z4hVGCWH1Kc,"2,000,000 People Get Clean Water For The First...",52658668,2005558,37264,2025-08-01,10.333333
2,V6In4tmd-w8,"$1 vs $25,000 VFX",76154470,1987174,11416,2025-06-19,0.383333
3,DZIASl9q90s,"Beat Neymar, Win $500,000",151418699,3485863,81167,2025-05-24,27.883333
4,N0pwLtonPdg,Slippery vs Sticky Stairs,629281469,7142785,21250,2025-05-16,0.600000

Revenue Generated By Each Single Videos So That We can Increase Revenue In Next Videos Usually, revenue is estimated based on CPM (cost per 1,000 views).

In [72]:
cpm_Low = 0.25
cpm_avg = 1.5
cpm_high = 4.0

data['Revenue_Low'] = (data['Views'] / 1000)*cpm_Low
data['Revenue_Avg'] = (data['Views'] / 1000)*cpm_avg
data['Revenue_High'] = (data['Views'] / 1000)*cpm_high

data[['Revenue_Low','Revenue_Avg','Revenue_High']] = data[['Revenue_Low','Revenue_Avg','Revenue_High']].round(2)

In [73]:
data.head()

,Video_ID,Title,Views,Likes,Comments,Published_Date,Duration_In_Minutes,Revenue_Low,Revenue_Avg,Revenue_High
0,qXW93Cois2s,Guess What Hit You,39291570,799677,4191,2025-08-05,0.533333,9822.89,58937.36,157166.28
1,Z4hVGCWH1Kc,"2,000,000 People Get Clean Water For The First...",52658668,2005558,37264,2025-08-01,10.333333,13164.67,78988.00,210634.67
2,V6In4tmd-w8,"$1 vs $25,000 VFX",76154470,1987174,11416,2025-06-19,0.383333,19038.62,114231.70,304617.88
3,DZIASl9q90s,"Beat Neymar, Win $500,000",151418699,3485863,81167,2025-05-24,27.883333,37854.67,227128.05,605674.80
4,N0pwLtonPdg,Slippery vs Sticky Stairs,629281469,7142785,21250,2025-05-16,0.600000,157320.37,943922.20,2517125.88

Now We can Calculate Engagment Score by :- Like + Comments / Views x 100

In [74]:
data['Engagment_Score'] = ((data['Likes'] + data['Comments']) / data['Views']) * 100
data['Engagment_Score'] = data['Engagment_Score'].round(2)

In [75]:
data.head()

,Video_ID,Title,Views,Likes,Comments,Published_Date,Duration_In_Minutes,Revenue_Low,Revenue_Avg,Revenue_High,Engagment_Score
0,qXW93Cois2s,Guess What Hit You,39291570,799677,4191,2025-08-05,0.533333,9822.89,58937.36,157166.28,2.05
1,Z4hVGCWH1Kc,"2,000,000 People Get Clean Water For The First...",52658668,2005558,37264,2025-08-01,10.333333,13164.67,78988.00,210634.67,3.88
2,V6In4tmd-w8,"$1 vs $25,000 VFX",76154470,1987174,11416,2025-06-19,0.383333,19038.62,114231.70,304617.88,2.62
3,DZIASl9q90s,"Beat Neymar, Win $500,000",151418699,3485863,81167,2025-05-24,27.883333,37854.67,227128.05,605674.80,2.36
4,N0pwLtonPdg,Slippery vs Sticky Stairs,629281469,7142785,21250,2025-05-16,0.600000,157320.37,943922.20,2517125.88,1.14